<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link th:href="@{/title/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/title/css/fullwidthslider.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/title/js/fullwidthslider.js}"></script>
<script type="text/javascript" th:src="@{/title/js/jquery.mixitup.js}"></script>

<title>ここにキーワードを含むページのタイトルを記入</title>
<meta name="Description" content="ここにキーワードを含むページの説明文を記入" />
<meta name="Keywords" content="キーワード,キーワード,キーワード" />
<link rel="icon" href="https://saetl.net/favicon.ico" type="image/x-icon" />
<link rel="Shortcut Icon" type="img/x-icon" href="https://saetl.net/favicon.ico" />



<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap" rel="stylesheet">  -->

</head>

<body>
<noscript>
<p>※このページはJavaScriptを使用しています。JavaScript設定を有効にしてご覧ください。</p>
</noscript>

<!--　スライドショー　-->
<!-- <div class="wideslider">

</div>
 -->

<!--　ヘッダー　-->

<div id="header">
  
  <!-- ロゴ　-->
  <div id="logo">
    <a href="index.html">Sample<br />
    Template</a> <!-- / #logo -->
  </div>
  
<!--　ナビゲーションメニュー　-->
  
  <div id="menu">
    <a href="index.html" class="active">home</a>
    <a href="categories1.html">category1</a>
    <a href="categories2.html">category2</a>
    <a href="#">category3</a>
    <a href="#">category4</a> 
    <!-- / #menu -->
  </div>
  
<!-- / #header -->
</div>

  <!-- / 水平線 -->


<!--　ここからメインの内容　-->

<div id="container">
  <div id="content">
    <h1>ここにキーワードを含むページの見出しを記入</h1>
    <h2>News</h2>
    <table class="ta">
      <tr>
        <th width="150">2013,xx,xx</th>
        <td>テキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th width="150">2013,xx,xx</th>
        <td>テキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th width="150">2013,xx,xx</th>
        <td>テキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th width="150">2013,xx,xx</th>
        <td>テキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th width="150">2013,xx,xx</th>
        <td>テキストテキストテキストテキスト</td>
      </tr>
    </table>
    <h2>テンプレートのご利用について</h2>
    <ul>
      <li>このテンプレートはすべて無料でご利用いただける<a href="https://saetl.net/">Saetl.net</a>から配布しています。 </li>
      <li><span class="color1">著作権表示は必要ありません（テンプレートにも記載はありません）</span></li>
      <li>無料テンプレートでよくあるページ内の著作権表示は一切必要ありませんのでご自由にお使いください。</li>
      <li>詳しくは<a href="https://saetl.net/about.html">利用規約</a>をご覧ください。 </li>

      <li><a href="https://saetl.net/howto.html">ご利用方法はこちら</a>からお願いします。</li>
    </ul>
    
    <!-- / #content -->
  </div>
  
  <!-- / #container -->
</div>

<!-- / 水平線 -->


<!--　ページの下部分　-->
<div id="footer">
  <p>Copyright(C) 2013 サイト名 All Rights Reserved. </p>
  <!-- / #footer -->
</div>

<!--　javascript設定　--> 

</body>
</html>